*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.generator {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
input {
    margin: 5px 0;
}
#output {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

#btn{
    margin: 15px;
    padding: 5px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}